---
import BaseHead from "../components/BaseHead.astro";
import HeaderNav from "../components/HeaderNav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  navActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
<head>
  <BaseHead title={title} description={description} image={image} ogType={ogType} />
  {TRANSITION_API && <ViewTransitions />}
</head>

<body class="bg-base-100">
<HeaderNav title={SITE_TITLE} navActiveItemID={navActiveItemID} />

<main class="flex justify-center px-4">
  <div class="w-full max-w-[900px] py-10">
    <slot />
  </div>
</main>

<Footer />
</body>
</html>
